<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chool_check">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--실험 해본 결과 백그라운드 권한 설정은, 직접 설정창에 가서 설정해줘야한다.
    처음 권한 선택화면에 뜨지는 않는다.
    밑에거를 넣고 빼보니 정말 설정창에 백그라운드 부분이 생기고 사라진다. -->
    <!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

    <application
        android:label="chool_check"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!--구글지도 설정을 위한 메타데이타-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBhDkQppd-Azf9hN8oBmdPvQVD7sgW-jbU" />
    </application>
</manifest>
